/*
  width = largura && height = altura  
*/

* { /*tag universal, significca que a propriedade passara por todas as tags*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh; /* fracionna a tela em 100 fragmentos, para ocupar toda a tela */
	color: white;
}

:root{ /* seletor que captura o elemento root, facilita para gerenciar toda alteração de fonte do site*/
	font-size: 62.5% ; /*o padrao do navegador é 16px, logo 62.5% equivale a 10px, isso contribui para a flexibilidade do tamaho da fonte */
}

body, input, button, textarea{
	font: 400 1.8rem/1 'Nunito', sans-serif; /*rem -> pega a fonte do root element, que nesse caso é o html*/
/*
	codigo acima é o mesmo que o abaixo

	font-size: 18px;
	line-height: 1;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
*/
}


